# zk configuration file
[note]
template = "default.md"
filename = "{{id}}"
extension = "md"


[format.markdown]
# link-format = "wiki"
link-format = "[[{{filename}}]]"
# Enable support for #hashtags.
hashtags = true
# Enable support for :colon:separated:tags:.
colon-tags = true
# Enable support for Bear's #multi-word tags#
# Hashtags must be enabled for multi-word tags to work.
multiword-tags = true


[tool]
# bat is a great tool to render Markdown document with syntax highlighting.
# https://github.com/sharkdp/bat
fzf-preview = "bat -p --color always {-1}"
# fzf-preview = "glow {-1}"


[lsp.diagnostics]
# wiki-title = "hint"
# Warn for dead links between notes.
dead-link = "error"


[alias]
# fish
conf = '$EDITOR "$ZK_NOTEBOOK_DIR/.zk/config.toml"'
nc = "zk new -g commands $argv"
nt = "zk new -g troubleshooting $argv"
new = 'zk new --working-dir "$ZK_NOTEBOOK_DIR" $argv'

# windows
# 注意: 需要git的bash
# 注意: 最后必须用_占位,跳过$0
# nc  = 'C:/PROGRA~1/Git/bin/bash.exe -c "zk new -g commands \"$@\"" _'
# nt  = 'C:/PROGRA~1/Git/bin/bash.exe -c "zk new -g troubleshooting \"$@\"" _'
# new = 'C:/PROGRA~1/Git/bin/bash.exe -c "zk new --working-dir \"$ZK_NOTEBOOK_DIR\" \"$@\"" _'


[group.commands]
paths = ["commands"]
[group.commands.note]
template = "command.md"


[group.troubleshooting]
paths = ["troubleshooting"]
[group.troubleshooting.note]
template = "troubleshooting.md"
